body {
  background: rgb(34, 34, 34, .025);
}
.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
}
.AppBar {
  /* flex-direction: column; */
}

.bodyWrap {
  display: inline-flex;
  flex-wrap: wrap;
  /* align-content: center; */
  justify-content: space-around;
  width: 95%;
  
}
.mediaCard {
  min-width: 345px;
  
}
.MuiPaper-root-8 {
  margin: 10px !important;
  margin-top: 100px !important;
}
break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}
.cardWrap {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  align-items: space-around;
  justify-content: space-around;
  width: 100%;
}
.line {
  width: 80vw;
}
#cardy {
  margin: 10px;
}
#cardy>button{
  min-height: 170px;
}
form {
  display: inline-flex;
  flex-direction: column;
}
.resultsWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  
}
.cardy {
  
}
.swal2-content{
  font-size: .9em !important;
}
.errors {
  max-width: 1000px;
  text-overflow: wrap;
}
td,tr {
  text-align: center;

}
#swal2-items {
  align-content: center;
}
table {
  margin: 0 auto;
}
.optionsWrapper {
  flex: unset;
}